img {
    width: 500px;
}
body {
    text-align: center; 
    font-family: "Arial";
    background-image: url(http://38.media.tumblr.com/3820a997449e2097999a3e4e219577b6/tumblr_nfivzidHVP1raievko1_500.gif);
    background-repeat: repeat;
    color: white;
    
}
