body {
	background-image: url("washdc.jpg");
	/*background-size: cover;*/
	font-family: Arial;
	background-repeat: no-repeat; 
	background-color: #000000;
	color: white;
}

h1 {
    float: none;
    margin: auto;
    font-size: 30px;
    padding: 10px;
}
h1 > a {
    color: white;
}
#projects {
    background-color: black;
    opacity: 0.3;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}

li {
    font-weight: bold;
    list-style-type: none;
	text-align-last: center;
}

ul > li {
    font-size: 24px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 3px;
    opacity: 0.9;
    border: 2px solid white;
}

li > a {
    color: white;
    text-decoration: none;
    
}